#
# Copyright (c) 2022 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

#----------------------------------------------------------------------------#
menu "Debug and Monitoring"

config HEAPS_MONITOR
	bool "Enable heap memory monitoring"
	select  SYS_HEAP_LISTENER
    default n
	help
	  Enable heap memory monitoring system that tracks allocations and frees
	  for system heap and registered custom heaps. Provides intelligent
	  logging with peak usage tracking and periodic status updates.

module = HEAPS_MONITOR
module-str = heaps_monitor
source "subsys/logging/Kconfig.template.log_config"

endmenu # "Debug and Monitoring"
